.clothesLine{
    height:5px;
    width:90%;
    display: flex;
}

.clothesLineSegment{
    height:5px;

}

.unused{
    background-color: darkgray;
}
.required{
    background-color: red;
}
.optional{
    background-color: green;
}